.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px auto;
  width: 80vw;
  gap: 2rem;
}
.text-form {
  position: relative;
  width: 100%;
}
.text {
  width: 100%;
  background: linear-gradient(to right, red, rgb(209, 17, 209));
  border-radius: 15px;
  height: 14.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
textarea {
  width: 96%;
  border: none;
  border-radius: 10px;
  height: 82%;
  font-size: 1.1rem;
  padding: 1rem;
  outline: none;
  resize: none;
}
.buttons {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.button {
  border: 2px solid red;
  font-family: 'Sora', sans-serif;
  font-size: 1.1rem;
  padding: 1rem 2rem;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.button:hover {
  background-color: rgb(243, 199, 242);
  font-weight: bold;
}

@-webkit-keyframes pop-on-hover {
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes pop-on-hover {
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.pop-on-hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.pop-on-hover:hover,
.pop-on-hover:focus,
.pop-on-hover:active {
  -webkit-animation-name: pop-on-hover;
  animation-name: pop-on-hover;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.preview {
  width: 100%;
}


.blur {
  position: absolute;
  background-color: yellow;
  height: 10rem;
  width: 5rem;
  border-radius: 50%;
  filter: blur(100px);
  z-index: -10;
  left: 0px;
  top: 0px;
}
.blur2 {
  position: absolute;
  background-color: red;
  height: 10rem;
  width: 5rem;
  border-radius: 50%;
  filter: blur(100px);
  z-index: -10;
 right: 0px;
 bottom:0px;
}
